/* ===================================================================== */
/*                                                                       */
/* ===================================================================== */

#aside_droite {
   display: none;
}

#main logo{
   display:none;
}

.actu {
   width:100%; 
   background-image:none;
   	margin-top:110px;
	padding-left:10px;

}

.actu_up , .actu_down{
   display:none;
}

.news {
   font-size:3em;
}

.contentnews {
   width:95%;
}

/* ============================================================================
    navigation            
   ==========================================================================*/
nav {
    width: 100%;
    display : block;
}

nav a {
    font-size:16px;
    font-family: georgia ,Arial;
}

nav li {
	width:120px;
	height:30px;
	display : inline;
}

.menul1 {
    display:inline;
}

.menul2 {
    display:block;
    width:300px;
}

/* ============================================================================
    contenu            
   ==========================================================================*/
#contenu {
    width:100%;
    display : block;
    margin-top :0px;
}

article, aside{
    display: block;
}
